<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airport Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Airport Management System</h1>

    <div id="actions">
        <a href="{{ url_for('home.view_tables') }}" class="btn">View Table</a>
        <a href="{{ url_for('home.insert') }}" class="btn">Insert into Table</a>
        <a href="{{ url_for('home.search_flights') }}" class="btn">Search flights</a>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
